.navbar {
  position: relative;
  min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  border: none;
  // Prevent floats from breaking the navbar

  @include clearfix;

  .brand {
    float: left;
    padding: $distance-base + 3px;
    font-size: 24px;
    color: $red;
    img{
      margin-right: 13px;
    }
  }

  .nav {
    float: right;
    margin-bottom: -1px;

    li {
      float: left;

      a {
        display: block;
        font-size: 16px;
        line-height: $navbar-height;
        padding: 0 14px;

        &:hover,
        &:focus {
          text-decoration: none;
        }

        &.active {
          color: $red;
          text-decoration: none;
          border-bottom: 3px solid $red;
        }
      }
    }
  }
}
